/** @format */

@import "../../style.css";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.image {
  width: -webkit-fill-available;
  overflow: scroll;
}

.image::-webkit-scrollbar {
  display: none;
}

.image img {
  width: -webkit-fill-available;
}

.signup {
  padding: 15% 10%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.signup::-webkit-scrollbar {
  display: none;
}

.signup h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-family);
  color: var(--color-dark);
  text-align: center;
}

.signup p {
  margin: 0;
  font-size: 1rem;
  margin-top: 5px;
  font-family: var(--font-family);
  color: var(--color-light);
  font-style: italic;
  text-align: center;
}

.options {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.options div {
  /* padding: 10px 35px;
  background-color: var(--color-light);
  color: white; */
  display: flex;
  color: var(--color-dark);
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family);
  cursor: pointer;
}

/* .options div:hover {
  background-color: var(--color-dark);
} */

.options input[type="radio"] {
  accent-color: var(--color-dark);
  cursor: pointer;
}

.options input[type="radio"]:hover {
  accent-color: var(--color-dark);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  gap: 32px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name span {
  font-family: var(--font-family);
  color: var(--color-dark);
  font-size: 1rem;
}

.name input {
  padding: 10px;
  font-size: 1rem;
  font-family: var(--font-family);
  border: 1px solid var(--color-dark-medium);
  border-radius: 10px;
}

.name input::placeholder {
  font-family: var(--font-family);
  color: #c4c1c1;
}

.name input:focus {
  outline: none;
  border: 1px solid var(--color-light);
}

.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.button {
  margin-top: 10px;
  padding: 15px;
  background-color: var(--color-light);
  color: white;
  font-size: 1.2rem;
  font-family: var(--font-family);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-dark);
}

@media only screen and (max-width: 1200px) and (min-width: 938px) {
  .signup {
    padding: 5%;
  }
  .image {
    width: 540px;
  }

  .options {
    gap: 85px;
  }
}

@media only screen and (max-width: 937px) {
  .container {
    grid-template-columns: 1fr;
    height: -webkit-fill-available;
  }

  .image img {
    height: 583px;
  }

  .first {
    grid-template-columns: 1fr;
  }

  .image {
    /* display: none; */
  }

  .signup {
    padding: 10% 4%;
    position: relative;
    bottom: 88px;
    height: -webkit-fill-available;
    background: white;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    height: 483px;
    overflow: scroll;
  }

  .options {
    justify-content: flex-start;
    gap: 65px;
  }
}
